@import '../../assets/styles/variables.scss';
@import '../../assets/styles/animations.scss';

.btn__button {
  align-items: center;
  background-color: $accent-orange-02;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.75px;
  outline: none;
  padding: 0.719rem 1.438rem 0.719rem 1.25rem;
  position: relative;
  width: max-content;
  overflow: hidden;

  &.success {
    background-color: $color-successful;
    &:disabled,
    .disabled {
      background-color: $color-primary-disabled;
      pointer-events: none;
    }
  }

  &.ghost__button {
    background-color: transparent;
    color: $accent-blue-04;
  }

  &.loading {
    cursor: default;
    color: transparent;

    & > *:not(.loader__container) {
      visibility: hidden;
    }
  }

  &:disabled,
  .disabled {
    background-color: $color-primary-disabled;
    pointer-events: none;
  }

  &:hover:not(.loading) {
    background-color: $color-primary;
    &.ghost__button {
      background-color: #c3dfeb3d;
    }
  }

  .btn__icon {
    margin-left: 0.688rem;
  }

  .btn__label {
    display: inline-block;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.loader {
  @include spin;
  position: relative;
  border-top: 4px solid rgba(255, 255, 255, 0.2);
  border-right: 4px solid rgba(255, 255, 255, 0.2);
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
  border-left: 4px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  &.small {
    height: 20px;
    width: 20px;
  }
  &__container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:after {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}
