$color-primary: #bc5e1f;
$color-primary-dark: #bc5f1c;
$color-primary-action: #e87722;
$color-primary-disabled: #bfcdd2;
$color-background-primary: #f8fafb;
$dark-color-background: #111b22;
$color-text-primary: #515151;
$color-error: #f44336;
$color-tap: #ebf2ff;
$bg-error: #fddcda;
$bg-skeleton: #e4e4e4;
$color-successful: #43a047;
$bg-successful: #dff0d8;
$color-disabled: #c4c4c4;
$color-disabled-secondary: #f5f6f8;
$color-azul-02: #4799b4;
$color-text-disabled: #7d92a1;
$color-text-disabled-secondary: #b7b7b7;
$color-text-warning: #ffb41f;
$color-text-black: #000000;
$bg-warning: #fff8ea;
$font-size-xs: 0.625rem;
$font-size-s: 0.75rem;
$font-size-m: 0.875rem;
$font-size: 1rem;
$font-size-l: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 1.813rem;

$accent-blue-01: #c3dfeb;
$accent-blue-02: #b9d3de;
$accent-blue-03: #a0c0cd;
$accent-blue-04: #7fadc0;
$accent-orange-01: #ba5f1a;
$accent-orange-02: #e96f24;
$accent-orange-03: #ffa562;
$accent-orange-04: #bb5f1b;
$accent-orange-05: #ffe4cf;
$light-grey: #ebf1f5;
$light-high-contrast: #324552;
$light-medium-contrast: #566976;
$dark-medium-contrast: #acbac3;
$light-component-background-01: #fff;
$gray-100: #19191d;

$animate-duration-fast: 0.4s;
$animate-duration: 1s;
$animate-duration-slow: 1.5s;

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    opacity: 1;
  }
}

@mixin zoomIn {
  animation: $animate-duration-fast both zoomIn;
  -webkit-animation: $animate-duration-fast both zoomIn;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@mixin spin {
  animation: spin $animate-duration infinite linear;
}

@keyframes changeColor {
  20% {
    opacity: 0.1;
  }

  50%,
  55% {
    opacity: 0.2;
  }

  to {
    opacity: 0.7;
  }
}

@-webkit-keyframes changeColor {
  20% {
    opacity: 0.1;
  }

  50%,
  55% {
    opacity: 0.2;
  }

  to {
    opacity: 0.7;
  }
}

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@-webkit-keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@mixin bounceOut {
  animation: bounceOut calc($animate-duration) linear forwards;
  &::after {
    content: '';
    position: absolute;
    background-color: $bg-error;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: changeColor 1 linear forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@mixin fadeIn {
  animation: $animate-duration both fadeIn;
  -webkit-animation: $animate-duration both fadeIn;
}



.btn__button {
  align-items: center;
  background-color: $accent-orange-02;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.75px;
  outline: none;
  padding: 0.719rem 1.438rem 0.719rem 1.25rem;
  position: relative;
  width: max-content;
  overflow: hidden;

  &.success {
    background-color: $color-successful;
    &:disabled,
    .disabled {
      background-color: $color-primary-disabled;
      pointer-events: none;
    }
  }

  &.ghost__button {
    background-color: transparent;
    color: $accent-blue-04;
  }

  &.loading {
    cursor: default;
    color: transparent;

    & > *:not(.loader__container) {
      visibility: hidden;
    }
  }

  &:disabled,
  .disabled {
    background-color: $color-primary-disabled;
    pointer-events: none;
  }

  &:hover:not(.loading) {
    background-color: $color-primary;
    &.ghost__button {
      background-color: #c3dfeb3d;
    }
  }

  .btn__icon {
    margin-left: 0.688rem;
  }

  .btn__label {
    display: inline-block;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.loader {
  @include spin;
  position: relative;
  border-top: 4px solid rgba(255, 255, 255, 0.2);
  border-right: 4px solid rgba(255, 255, 255, 0.2);
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
  border-left: 4px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  &.small {
    height: 20px;
    width: 20px;
  }
  &__container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:after {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}
